#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding-top: 2rem;
  background-color: var(--section-bg-color-primary);
  color: var(--section-color-primary);
}

#profile-photo {
  height: auto;
  width: 50%;
  max-width: 300px;
  border-radius: 50%;
  text-align: center;
}

#job-title {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-bottom: 0;
}

#interests {
  height: auto;
  width: auto;
  font-size: 0.8rem;
}

#interests ul li {
  margin: 0.5rem 0;
}

#links {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#about-me footer {
  font-size: 0.7rem;
}

@media only screen and (min-width: 768px) {
  #about-me footer,
  #interests  {
    font-size: 1rem;
  }
}
